 
<div class="container">

  <div class="row" style="background-color:aliceblue">
    <div class="col-md-2">

      <!-- the best solution
      lang is the language while the second parameter is a constant 'home' in this case
        Pros: lang can be '' and in that case the route is {host}/{appRoot}/home
              in case of 'en' or 'fr', the route is {host}/{appRoot}/en or {host}/{appRoot}/fr
              NOTE: lang must not be null or undefined
        Cons: 
              -->

      <a [routerLink]="[lang,'home']">{{homeLink}}
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>



    </div>
    <div class="col-md-2">
      <!-- standard -->
      <!-- <a [routerLink]="['/products']">Products
        <i class="fa fa-microchip" aria-hidden="true"></i>
      </a> -->

      <a [routerLink]="[lang,'products']">{{productsLink}}
        <i class="fa fa-microchip" aria-hidden="true"></i>
      </a>


    </div>
    <div class="col-md-2">
      <a [routerLink]="[lang,'customers']">{{customersLink}}
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="[lang,'orders']">{{ordersLink}}
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="[lang,'vendors']">{{vendorsLink}}
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-2">
      <a (click)="toggleLang()">Toggle Lang {{lang}}</a>
    </div>

  </div>
  <div>

  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>